*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


/* Shared styles */


.btn-primary button{
    background: linear-gradient(48.06deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    border-radius: 10000px;
    width: 135px;
    height: 44px;
    padding: 16px 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    cursor: pointer;
}
.button .spotify button{
    background: linear-gradient(48.06deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    border-radius: 10000px;
    width: 135px;
    height: 44px;
    padding: 16px 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    cursor: pointer;
}

.button{
    display: flex;
    justify-content: center;
    gap: 16px;
}


/* navbar related styles */

.navbar{
    display: flex;
    padding: 20px 50px;
    background-color: #1a0b2e;
}

.title{
    color: #FFFFFF;
}


.nav-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.menu{
    display: flex;
    gap: 32px;
    list-style: none;
}

.menu  a{
    text-decoration: none;
    color: #FFFFFF;
}

.title span{
    background: linear-gradient(48.06deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%) transparent;
    border-radius: 10px;
}


/* hero section related styles */


.hero-section {
    
    background: url(../assets/hero-bg.png) no-repeat no-repeat;
    background-size: cover;
    padding: 80px 0;
    text-align: center;
}
.visual-assets {
    position: relative;
    width: fit-content;
    margin: 0 auto 50px;
}
.hero-circle {
    width: 400px;
}
.mic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}
.new-badge{
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #00F5A0;
    color: #1A0B2E;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: 800;
    border: none;
}
.desktop-title {
    font-size: 5rem;
    color: white;
    margin-bottom: 20px;
    font-weight: 800;
}
.hero-subtitle {
    font-size: 1.2rem;
    color: #cbd5e1;
    max-width: 650px;
    margin: 0 auto 50px;
    line-height: 1.6;
}
.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hero-buttons a{
  text-decoration: none;
  display: flex;
  padding: 8px 50px;
  border-radius: 50px;
}
.btn-subscribe{
    border: 2px solid #00F5A0;
    color: #00F5A0;
    padding: 15px 35px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 44px;
}
.btn-subscribe:hover{
    background-color: rgba(107, 186, 127, 0.385);
    border-color: #06b650;
    color: #06b650;
    transition: 0.3s ease-in-out;
}

.btn-two{
  align-items: center;
  justify-content: center;
  color: white;
  width: 135px;
  height: 44px;
  padding: 12px 16px 12px 16px;
  border-radius: 10000px;
  font-size: 16px;
  line-height: 19px;
  border: none;
  cursor: pointer;
  background: linear-gradient(150deg,#F7E93F,#FB09B4,#9100F8);
}

/* about section related styles */

.about-section{
    background-color: #1A0B2E;
    text-align: center;
    padding: 50px 200px 120px;
}

.about-container .headline{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 48px;
    line-height: auto;
    margin-bottom: 16px;
}

.about-container p{
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 160px;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.card-container h2{
    font-size: 48px;
    color: #00FF88;
    margin-bottom: 16px;
}

.card-container p{
    line-height: 20px;
    color: #FFFFFF;
} 


/* choose section related styles */


.choose{
    background-color: #230E3D;
    padding: 120px 200px;
    gap: 40px;
}

.choose-container .choose-title{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}



#Premium{
    grid-area: Premium;
}

#mobile{
    grid-area: mobile;
}

#Global{
    grid-area: Global;
}

#exclusive{
    grid-area: exclusive;
}

#Rich{
    grid-area: Rich;
}

.choose-container .choose-cards{
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "Premium mobile mobile"
    "Premium Global Global"
    "exclusive exclusive Rich";
}


.choose-container .choose-cards .first-card{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 108px 40px;
    border-radius: 40px;
    box-shadow: 10px 10px rgba(53, 17, 101, 0.4);
}

.choose-container .choose-cards .first-card img{
    margin-bottom: 21px;
}

.choose-container .choose-cards .first-card h3{
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.choose-container .choose-cards .first-card p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.choose-container .choose-cards .card{
    background-color:rgba(53, 17, 101, 0.4) ;
    padding: 40px;
    border-radius: 40px;
}

.choose-container .choose-cards .card img{
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.choose-container .choose-cards .card h3{
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.choose-container .choose-cards .card p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}


/* host section related styles */


.host{
    background-color: #1A0B2E;
    gap: 120px;
    padding: 120px 200px;
}

.host-container .title{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.host-cards{
    display: flex;
    gap: 30px;
    border-radius: 10px;
}


.host-cards .cards{
    background-color: #250D44;
    padding: 24px;
    gap: 12px;
    width: 380px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.host-cards .cards iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
}

.host-cards .cards h2{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 12px;
}

.host-cards .cards .pera{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.host-cards .cards .time{
    color: #00FF88;
    line-height: 24px;
    font-size: 16px; 
}

.host-container .host-meet{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
}

.alex{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    gap: 24px;
    border-radius: 15px;
}

.alex h2{
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.alex p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.alex ul{
    display: flex;
    gap: 8px;
}

.alex ul li{
    list-style: none;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alex ul li img{
    width: 20px;
    height: 20px;
}


/* footer section related styles */


.footer{
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    padding: 120px;
    text-align: center;
}

.footer-title{
    color: #FFFFFF;
}

.footer-wave{
    background: linear-gradient(48.06deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%) transparent;
    border-radius: 10px;
}

.footer-container h2{
    margin-bottom: 32px;
    margin-top: 40px;
    font-size: 55px;
}


.media-links ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.media-links ul li{
    display: flex;
    align-items: center;
    gap: 8px;
}

.media-links ul li a{
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #FFFFFF;
}

.copyright p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}



@media screen and (max-width: 576px) {
    /* navbar responsive */

    .navbar {
        padding: 20px;
        flex-wrap: wrap;
    }

    .menu, .btn-primary {
        display: none;
    }

    .nav-container{
        justify-content: space-between;
    }

}
 

@media screen and (max-width: 576px){
    /* hero section responsive */

    .hero-section{
        padding: 40px 20px;
        background-position: center;
    }

    .hero-circle{
        width: 250px;
    }

    .mic{
        width: 47px;
    }

    .new-badge{
        top: 60px;
        right: 0px;
        font-size: 12px;
        padding: 4px 10px;
    }

    .desktop-title{
        font-size: 3rem;
        margin-top: 20px;
    }

    .hero-subtitle{
        font-size: 1rem;
        margin-bottom: 30px;
        padding: 0 10px;
    }

    .hero-buttons{
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap
    }

    .btn-two, .btn-subscribe{
        width: 60px;
        padding: 10px 15px;
        font-size: 14px;
    }
}

@media screen and (max-width: 576px){
      /* about section */

    .about-section{
        padding: 60px 20px;
    }

    .about-container .headline{
        font-size: 32px;
    }.about-container p{
        margin-bottom: 60px;
    }

    .card-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .card-container h2{
        font-size: 32px;
    }
}
  
@media screen and (max-width: 576px){
    /* choose section responsive */

    .choose{
        padding: 60px 20px;
    }

    .choose-container .choose-cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .choose-container .choose-cards .first-card,
    .choose-container .choose-cards .card{
        padding: 30px;
        text-align: left;
    }
}
    
@media screen and (max-width: 576px){
    /* host section responsive */

    .host{
        padding: 50px 20px;
    }

    .host-cards{
        flex-direction: column;
        gap: 40px;
    }

    .host-cards .cards{
        width: 100%;
        padding: 0;
        background: transparent;
    }

    .host-cards .cards .pera br{
        display: none;
    }

    .alex{
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
    }

    .alex .discription p br{
        display: none;
    }
}
    
@media screen and (max-width: 576px){
    /* footer section responsive */

    .footer{
        padding: 60px 20px;
        background-size: cover;
    }

    .footer-container h2{
        font-size: 40px;
    }

    .media-links ul{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}
    
