*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


/* Shared styles */


.btn-primary button{
    background: linear-gradient(48.06deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    border-radius: 10000px;
    width: 135px;
    height: 44px;
    padding: 16px 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    cursor: pointer;
}
.button .spotify button{
    background: linear-gradient(48.06deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    border-radius: 10000px;
    width: 135px;
    height: 44px;
    padding: 16px 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    cursor: pointer;
}

.button{
    display: flex;
    justify-content: center;
    gap: 16px;
}


/* navbar related styles */

.navbar{
    display: flex;
    padding: 20px 50px;
    background-color: #1a0b2e;
}

.title{
    color: #FFFFFF;
}


.nav-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.menu{
    display: flex;
    gap: 32px;
    list-style: none;
}

.menu  a{
    text-decoration: none;
    color: #FFFFFF;
}

.title span{
    background: linear-gradient(48.06deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%) transparent;
    border-radius: 10px;
}


/* hero section related styles */

.hero-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    padding: 100px 20px;
    max-width: 100%;
}

.hero-section .hero-container .image{
    position: relative;
    display: inline-block;
    margin: 0 100px 40px;
    width: 500px;
    height: auto;
}

.hero-container .discription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-container .discription h2{
    width: 550px;
    height: 73px;
    font-weight: 600;
    line-height: auto;
    color: #FFFFFF;
    text-align: center;
    font-size: 72px;
    margin: 40px 0 8px;
}

.hero-container .discription p{
    font-size: 16px;
    line-height: auto;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.hero-container .button .subscribe button{
    border: 1px solid #00FF88;
    border-radius: 10000px;
    width: 150px;
    height: 44px;
    color: #00FF88;
    background: transparent;
}

/* about section related styles */


.about-section{
    background-color: #1A0B2E;
    text-align: center;
    padding: 50px 200px 120px;
}

.about-container .headline{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 48px;
    line-height: auto;
    margin-bottom: 16px;
}

.about-container p{
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 160px;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.card-container h2{
    font-size: 48px;
    color: #00FF88;
    margin-bottom: 16px;
}

.card-container p{
    line-height: 20px;
    color: #FFFFFF;
}


/* choose section related styles */


.choose{
    background-color: #230E3D;
    padding: 120px 200px;
    gap: 40px;
}

.choose-container .choose-title{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

#Premium{
    grid-area: Premium;
}

#mobile{
    grid-area: mobile;
}

#Global{
    grid-area: Global;
}

#exclusive{
    grid-area: exclusive;
}

#Rich{
    grid-area: Rich;
}

.choose-container .choose-cards{
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "Premium mobile mobile"
    "Premium Global Global"
    "exclusive exclusive Rich";
}


.choose-container .choose-cards .first-card{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 108px 40px;
    border-radius: 40px;
}

.choose-container .choose-cards .first-card img{
    margin-bottom: 21px;
}

.choose-container .choose-cards .first-card h3{
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.choose-container .choose-cards .first-card p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.choose-container .choose-cards .card{
    background-color:rgba(53, 17, 101, 0.4) ;
    padding: 40px;
    border-radius: 40px;
}

.choose-container .choose-cards .card img{
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.choose-container .choose-cards .card h3{
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.choose-container .choose-cards .card p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}


/* host section related styles */


.host{
    background-color: #1A0B2E;
    gap: 120px;
    padding: 120px 200px;
}

.host-container .title{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.host-cards{
    display: flex;
    gap: 30px;
    border-radius: 10px;
}


.host-cards .cards{
    background-color: #250D44;
    padding: 24px;
    gap: 12px;
    width: 380px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.host-cards .cards iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
}

.host-cards .cards h2{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 12px;
}

.host-cards .cards .pera{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.host-cards .cards .time{
    color: #00FF88;
    line-height: 24px;
    font-size: 16px; 
}

.host-container .host-meet{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
}

.alex{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    gap: 24px;
    border-radius: 15px;
}

.alex h2{
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.alex p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.alex ul{
    display: flex;
    gap: 8px;
}

.alex ul li{
    list-style: none;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alex ul li img{
    width: 20px;
    height: 20px;
}


/* footer section related styles */


.footer{
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px;
    text-align: center;
}

.footer-title{
    color: #FFFFFF;
}

.footer-wave{
    background: linear-gradient(48.06deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%) transparent;
    border-radius: 10px;
}

.footer-container h2{
    margin-bottom: 32px;
    margin-top: 40px;
    font-size: 55px;
}


.media-links ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.media-links ul li{
    display: flex;
    align-items: center;
    gap: 8px;
}

.media-links ul li a{
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #FFFFFF;
}

.copyright p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}



/* responsive styles */


@media screen and max-width(576px){
    
}